<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>{{block "title" .}}{{end}}</title>
</head>

<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong>Demo</strong></li>
            </ul>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/info/about">About</a></li>
            </ul>
        </nav>

        {{block "main" .}}
        Default content
        {{end}}
    </main>
</body>

</html>